/* Utilities */

.center {
    margin:auto;
    text-align: center;
}

.margin-auto {
    margin:auto;
}

.card-custom {
    margin-bottom: 25px;
}

#body {
    font-family: 'Spectral', serif;
    font-size: 14pt;
    background-color: 	 #83764e
}

#container {
    max-width: 540px;
}

#jumbotron {
    background-color:transparent;
    margin: 20px 0 0 0;
    padding: 0px;
    
}

.nav-bar button {
    border-radius: 0;
}


.row{
    margin:0px;
    display:block;
}


tr {
    cursor: pointer;
}

span {
    cursor: default;
}


.header{
    text-align: center;
    padding:10px;
}

#header{
    margin-bottom:0px;
}

.header img {
    box-shadow: black 0px 0px 20px 0px;
    margin-bottom: 20px;
}

.title img {
    box-shadow: black 0px 0px 20px 0px;
}
.title h1{
    margin-top:20px;
}

.icon {
    margin: 10px;
}

.fixed {
   z-index: 10;
}

.character-detail{
    background-color: #83764e;
    padding:20px;
    margin:10px;
}

.button-custom {
    color: #83764e;
}


.character-detail p{
    padding:0px;
    margin: 0px;
}



/*Data Display*/
.fields-row {
    text-align: center;
    background: rgb(0, 0, 0);
    color: white;
    padding-top: 10px;
}

.data-cells {
    padding-top: 15px;
    text-align: center;  
}

.data-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.hidden {
    display: none;
}


/* Nav icons */

.nav-icon h2 {
    position: absolute;
    z-index: 10;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    color:#b8a468;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.473);
}




/* Animation */
.pulse-animation {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.rotate-animation {
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rotate {
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes pulse {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}

/* Media Queries */

.nav-container{
        background-image: url('../images/sgbg_sm.jpg');
        background-repeat: no-repeat;
        background-position: center;
}


@media screen and (min-width: 768px){
    .nav-container{
        background-image: url('../images/sgbg_md.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 430px;
        max-height: 696px;
        margin-bottom: 15px;
    }

    #container {
        max-width: 720px;
    }
    .nav-row{
        padding-top: 120px;
    }
 
} 

@media screen and (min-width: 992px){
    .nav-container{
        background-image: url('../images/sgbg_lg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 586px;
        max-height: 696px;
        margin-bottom: 15px;
    }
    .nav-row{
        padding-top: 170px;
        padding: 200px;
    }

    #container{
        max-width: 960px;
    }
} 

@media screen and (min-width: 1200){
    .container{max-width:992px;}
}